html, body, #__next {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    background-image: url('/imgs/una-taza-de-javascript.png');
    background-size: cover;
    background-position: center;
}  